@font-face {
  font-family: "SF-Compact";
  src: url("fonts/SFCompactText-Regular.otf") format("otf");
}
@font-face {
  font-family: "SF-Pro";
  src: url("fonts/SFProText-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "SF-Compact-Display";
  src: url("fonts/SFCompactDisplay-Regular.otf") format("otf");
}

:root {
  --SF-Pro: "SF-Pro", sans-serif;
  --SF-Compact: "SF-Compact", sans-serif;
  --SF-Compact-Display: "SF-Compact-Display", sans-serif;

}
